// .atas-container {
//   max-width: 800px; /* Aumenta a largura máxima para centralizar melhor a tabela */
//   width: 100%;
//   margin: 0 auto; /* Centraliza o contêiner na tela */
//   text-align: center;
//   padding: 20px; /* Espaço extra ao redor */
// }

// h2 {
//   font-size: 24px;
//   margin-bottom: 20px;
// }

// .btn-cadastrar-container {
//   display: flex;
//   justify-content: center; /* Centraliza os botões */
//   gap: 10px;
//   margin-bottom: 20px;
// }

// .btn-cadastrar {
//   background-color: #28a745;
//   color: white;
//   border: none;
//   border-radius: 5px;
//   padding: 8px 16px;
//   font-size: 14px;
//   cursor: pointer;
//   transition: background-color 0.3s;
// }

// .btn-cadastrar:hover {
//   background-color: #218838;
// }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  position: relative; /* Garante que o modal posicione seus elementos corretamente */
  overflow: visible; /* Permite que elementos como o calendário sejam exibidos fora do modal */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-height: 90vh; /* Garante que o modal não ultrapasse a altura da tela */
}

.p-calendar {
  z-index: 1050; /* Garante que o calendário fique acima de outros elementos */
}


.form-container {
  flex: 1; /* O conteúdo do formulário ocupa o espaço disponível */
  overflow-y: auto; /* Permite rolagem se o conteúdo for grande */
}

.modal-actions {
  display: flex;
  justify-content: space-between; /* Espaça os botões no rodapé */
  margin-top: 20px; /* Espaço entre o formulário e os botões */
  padding-top: 10px;
  border-top: 1px solid #ddd; /* Linha opcional no topo do rodapé */
}

.modal-actions button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.modal-actions .btn-save {
  background-color: #28a745;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.modal-actions .btn-save:hover {
  background-color: #218838;
}

.modal-actions .btn-cancel {
  background-color: #dc3545;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.modal-actions .btn-cancel:hover {
  background-color: #c82333;
}


.modal-content h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
}

.form-group input[type='file'] {
  padding: 5px;
}

.form-group textarea {
  resize: vertical;
  height: 100px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

.atas-table-container {
  display: flex;
  justify-content: center; /* Centraliza a tabela */
}

.atas-table {
  width: 100%;
  max-width: 800px; /* Define a largura máxima da tabela */
  border-collapse: collapse;
  margin-bottom: 20px;
}

.atas-table th {
  text-align: left;
  padding: 12px;
  color: gray;
  font-weight: normal;
}

.atas-table td {
  padding: 12px;
  border-top: 1px solid #ddd;
  text-align: center;
}

.data-badge {
  background-color: #f1f1f1;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 12px;
}

.btn-visualizar {
  background-color: #9086e9;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-visualizar:hover {
  background-color: #6b5db5;
}

.pagination {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: gray;
}

.pagination a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  margin: 0 5px;
}

.pagination a:hover {
  text-decoration: underline;
}

.p-editor-container {
  width: 100% !important;
  background-color: #ffffff !important;
}

.p-editor-content {
  min-height: 200px;
  font-size: 14px;
  line-height: 1.5;
  padding: 10px;
}