<div>
    <h2>Servidores Aptos à Progressão</h2>
    <p-table [value]="servidoresAptos" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>Nome</th>
          <th>Tipo de Progressão</th>
          <th>Ação</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-servidor>
        <tr>
          <td>{{ servidor.nome }}</td>
          <td>
            {{ servidor.aptoParaProgressaoPorAssiduidade ? 'Assiduidade' : 'Título' }}
          </td>
          <td>
            <button pButton label="Iniciar Progressão" (click)="iniciarProgressao(servidor)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  
    <h2>Progresso em Andamento</h2>
    <p-table [value]="progressoesEmAndamento" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>Nome</th>
          <th>Tipo de Progressão</th>
          <th>Ação</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-progressao>
        <tr>
          <td>{{ progressao.Servidor.nome }}</td>
          <td>{{ progressao.tipo }}</td>
          <td>
            <button pButton label="Aprovar" (click)="aprovarProgressao(progressao)" class="p-button-success"></button>
            <button pButton label="Recusar" (click)="recusarProgressao(progressao)" class="p-button-danger"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  