.button-spacing {
  margin-right: 5px; // Ajuste o valor conforme necessário
}

.dialog-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #f9f9f9; // Cor de fundo clara
  border-radius: 8px; // Bordas arredondadas
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); // Sombreamento sutil
  max-height: 80vh; // Limita a altura do diálogo
  overflow-y: auto; // Permite rolagem se o conteúdo for muito longo

  .field {
    margin-bottom: 15px;
    padding: 10px; // Espaçamento interno
    background: #fff; // Fundo branco para cada campo
    border: 1px solid #ddd; // Borda leve
    border-radius: 4px; // Bordas arredondadas

    label {
      font-weight: bold;
      display: inline-block;
      margin-right: 10px;
      color: #333;
    }
    span {
      color: #555;
    }
  }

  .document-link {
    color: #007bff; // Cor azul para links
    text-decoration: none; // Remove sublinhado
    &:hover {
      text-decoration: underline; // Sublinha ao passar o mouse
    }
  }

  .button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    button {
      margin-left: 10px;
    }
  }
}

/* Estilos para tornar o container responsivo */
@media (max-width: 768px) {
  .dialog-content {
    padding: 15px; /* Reduzir o padding no diálogo */
  }

  .field {
    margin-bottom: 10px; /* Reduzir espaço entre os campos */
  }

  .button-group {
    flex-direction: column; /* Empilha os botões verticalmente */
    align-items: stretch; /* Faz os botões ocuparem toda a largura */
  }

  .button-group button {
    margin-bottom: 10px; /* Espaçamento abaixo dos botões */
    width: 100%; /* Faz os botões ocuparem toda a largura do contêiner */
  }
}
