<p-toast></p-toast>
<div class="abonos-container">
  <h2 class="titulo-abonos">Gerenciar Abonos</h2>

  <!-- Tabela de Abonos -->
  <p-table [value]="abonosFiltrados" [paginator]="true" [rows]="5">
    <ng-template pTemplate="caption">
      <div class="flex">
        <!-- Botão para Criar Categoria -->
        <div class="flex">
          <button pButton type="button" label="Criar Categoria" class="p-button-success ml-auto"
            (click)="abrirModalCategoria()"></button>
        </div>
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="filtrarAbonos($event)" placeholder="Pesquisar por Nome"
            class="p-inputtext p-component p-element w-full" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="nome">Nome <p-sortIcon [field]="'nome'"></p-sortIcon></th>
        <th pSortableColumn="maximoDiasAno">Máximo Dias/Ano <p-sortIcon [field]="'maximoDiasAno'"></p-sortIcon></th>
        <th pSortableColumn="maximoDiasMes">Máximo Dias/Mês <p-sortIcon [field]="'maximoDiasMes'"></p-sortIcon></th>
        <th pSortableColumn="abona">Abona <p-sortIcon [field]="'abona'"></p-sortIcon></th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-abono>
      <tr>
        <td>{{ abono.nome }}</td>
        <td>{{ abono.maximoDiasAno }}</td>
        <td>{{ abono.maximoDiasMes }}</td>
        <td>{{ abono.abona ? 'Sim' : 'Não' }}</td>
        <td>
          <div class="button-group" style="display: flex; gap: 10px; margin-top: 10px;">
            <button pButton type="button" label="Alterar" class="p-button-primary button-spacing"
              (click)="abrirDialog(abono)"></button>
            <button pButton type="button" label="Excluir" class="p-button-danger button-spacing"
              (click)="deletarAbono(abono.id)"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  
</div>

<!-- Modal para Criar Categoria -->
<p-dialog header="Criar Nova Categoria" [(visible)]="isModalCategoriaOpen" [style]="{ width: '50vw' }" modal="true"
  (onHide)="fecharModalCategoria()">
  <div class="dialog-content">
    <div class="field">
      <label>Nome da Categoria:</label>
      <input type="text" pInputText [(ngModel)]="categoriaForm.nome" placeholder="Digite o nome da categoria" />
    </div>

    <div class="field">
      <label>Máximo Dias/Ano:</label>
      <div class="flex margin-top">
        <input type="number" pInputText [(ngModel)]="categoriaForm.maximoDiasAno"
          [disabled]="categoriaForm.semLimiteAno" />
        <p-checkbox binary="true" [(ngModel)]="categoriaForm.semLimiteAno" label="Sem Limite"></p-checkbox>
      </div>
    </div>

    <div class="field">
      <label>Máximo Dias/Mês:</label>
      <div class="flex margin-top">
        <input type="number" pInputText [(ngModel)]="categoriaForm.maximoDiasMes"
          [disabled]="categoriaForm.semLimiteMes" />
        <p-checkbox binary="true" [(ngModel)]="categoriaForm.semLimiteMes" label="Sem Limite"></p-checkbox>
      </div>
    </div>
    <div class="field">
      <p-checkbox binary="true" [(ngModel)]="abonoSelecionado.abona" label="Abona Falta"></p-checkbox>
    </div>

    <div class="button-group margin-top" style="display: flex; gap: 10px;">
      <button pButton type="button" label="Salvar" class="p-button-success" (click)="criarCategoria()"></button>
      <button pButton type="button" label="Cancelar" class="p-button-secondary" (click)="fecharModalCategoria()"></button>
    </div>
    
  </div>
</p-dialog>

<!-- Modal de Criar/Editar Abono -->
<!-- Modal de Criar/Editar Abono -->
<p-dialog header="{{ novoRegistro ? 'Criar Abono' : 'Editar Abono' }}" [(visible)]="exibirDialog"
  [style]="{ width: '50vw' }" modal="true" (onHide)="fecharDialog()">
  <div class="dialog-content">
    <div class="field">
      <label>Nome:</label>
      <input pInputText [(ngModel)]="abonoSelecionado.nome" />
    </div>

    <div class="field">
      <label>Máximo Dias/Ano:</label>
      <div class="flex margin-top">
        <input type="number" pInputText [(ngModel)]="abonoSelecionado.maximoDiasAno"
          [disabled]="abonoSelecionado.semLimiteAno" />
        <p-checkbox binary="true" [(ngModel)]="abonoSelecionado.semLimiteAno" label="Sem Limite"></p-checkbox>
      </div>
    </div>

    <div class="field">
      <label>Máximo Dias/Mês:</label>
      <div class="flex margin-top">
        <input type="number" pInputText [(ngModel)]="abonoSelecionado.maximoDiasMes"
          [disabled]="abonoSelecionado.semLimiteMes" />
        <p-checkbox binary="true" [(ngModel)]="abonoSelecionado.semLimiteMes" label="Sem Limite"></p-checkbox>
      </div>
    </div>

    <!-- Checkbox para marcar se o abono está ativo -->
    <div class="field">
      <p-checkbox binary="true" [(ngModel)]="abonoSelecionado.abona" label="Abona Falta"></p-checkbox>
    </div>

    <div class="button-group margin-top" style="display: flex; gap: 10px;">
      <button pButton type="button" label="Salvar" class="p-button-success" (click)="salvarAbono()"></button>
      <button pButton type="button" label="Cancelar" class="p-button-secondary" (click)="fecharDialog()"></button>
    </div>
  </div>
</p-dialog>
