<p-toast></p-toast>
<div class="configuracoes-container">
    <div class="configuracoes-container">
        <h2 class="titulo-configuracoes">Configurações do Sistema</h2>

        <button pButton type="button" label="Criar" class="p-button-success"
        (click)="mostrarDialogCriar()"></button>
        <!-- Exibição da configuração -->
        <div *ngIf="configuracoes.length > 0">
            <p-table [value]="configuracoes" [paginator]="true" [rows]="5">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="anoLetivo">Ano Letivo<p-sortIcon [field]="'anoLetivo'"></p-sortIcon></th>
                        <th pSortableColumn="InicioAnoLetivo">Início do Ano Letivo<p-sortIcon
                                [field]="'InicioAnoLetivo'"></p-sortIcon></th>
                        <th pSortableColumn="FimAnoLetivo">Fim do Ano Letivo<p-sortIcon
                                [field]="'FimAnoLetivo'"></p-sortIcon></th>
                        <th pSortableColumn="tempoMinimoAssiduidade">Tempo Mínimo de Assiduidade<p-sortIcon
                                [field]="'tempoMinimoAssiduidade'"></p-sortIcon></th>
                        <th pSortableColumn="tempoMinimoTitulo">Tempo Mínimo de Título<p-sortIcon
                                [field]="'tempoMinimoTitulo'"></p-sortIcon></th>
                        <th>Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-configuracao>
                    <tr>
                        <td>{{ configuracao.anoLetivo }}</td>
                        <td>{{ formatData(configuracao.InicioAnoLetivo) }}</td>
                        <td>{{ formatData(configuracao.FimAnoLetivo) }}</td>
                        <td>{{ configuracao.tempoMinimoAssiduidade }} anos</td>
                        <td>{{ configuracao.tempoMinimoTitulo }} anos</td>
                        <td>
                            <button pButton type="button" label="Editar" class="p-button-warning"
                                (click)="mostrarDialogEditar(configuracao)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
    </div>
</div>
<!-- Dialog de edição -->
<p-dialog header="Editar Configuração" [(visible)]="displayDialogEditar" [style]="{ width: '50vw' }" modal="true">
    <div *ngIf="selectedConfiguracao" class="dialog-content">
        <div class="p-fluid">
            <!-- Campo para o Ano Letivo -->
            <div class="field">
                <label for="anoLetivo">Ano Letivo:</label>
                <p-calendar [(ngModel)]="selectedYear" [yearNavigator]="true" [view]="'year'" [showIcon]="true"
                    [showButtonBar]="true" [monthNavigator]="false" [dateFormat]="'yy'" class="custom-calendar">
                </p-calendar>
            </div>

            <!-- Campo para o Início do Ano Letivo -->
            <div class="field">
                <label for="inicioAnoLetivo">Início do Ano Letivo:</label>
                <p-calendar [(ngModel)]="selectedDataInicio" [showIcon]="true" [dateFormat]="'dd/mm/yy'"
                    class="custom-calendar">
                </p-calendar>
            </div>

            <!-- Campo para o Fim do Ano Letivo -->
            <div class="field">
                <label for="fimAnoLetivo">Fim do Ano Letivo:</label>
                <p-calendar [(ngModel)]="selectedDataFim" [showIcon]="true" [dateFormat]="'dd/mm/yy'"
                    class="custom-calendar">
                </p-calendar>
            </div>

            <!-- Outros campos existentes -->
            <div class="field">
                <label for="tempoMinimoAssiduidade">Tempo Mínimo de Assiduidade:</label>
                <input [(ngModel)]="selectedConfiguracao.tempoMinimoAssiduidade" id="tempoMinimoAssiduidade"
                    type="number" pInputText />
            </div>

            <div class="field">
                <label for="tempoMinimoTitulo">Tempo Mínimo de Título:</label>
                <input [(ngModel)]="selectedConfiguracao.tempoMinimoTitulo" id="tempoMinimoTitulo" type="number"
                    pInputText />
            </div>

            <!-- Botões -->
            <div class="button-group">
                <button pButton label="Salvar" (click)="salvarConfiguracao()" class="p-button-success"></button>
                <button pButton label="Cancelar" (click)="displayDialogEditar = false"
                    class="p-button-secondary"></button>
            </div>
        </div>
    </div>
</p-dialog>


<!-- Dialog de criação -->
<p-dialog header="Criar Configuração" [(visible)]="displayDialogCriar" [style]="{ width: '50vw' }" modal="true">
    <div class="dialog-content">
        <div class="p-fluid">
            <div class="field">
                <label for="anoLetivo">Ano Letivo*:</label>
                <p-calendar [(ngModel)]="selectedYear" [yearNavigator]="true" [view]="'year'" [showIcon]="true"
                    [showButtonBar]="true" [monthNavigator]="false" [dateFormat]="'yy'" class="custom-calendar">
                </p-calendar>
            </div>
            <div class="field">
                <label for="inicioAnoLetivo">Início do Ano Letivo:</label>
                <p-calendar [(ngModel)]="selectedDataInicio" [showIcon]="true" [dateFormat]="'dd/mm/yy'"
                    class="custom-calendar">
                </p-calendar>
            </div>

            <div class="field">
                <label for="fimAnoLetivo">Fim do Ano Letivo:</label>
                <p-calendar [(ngModel)]="selectedDataFim" [showIcon]="true" [dateFormat]="'dd/mm/yy'"
                    class="custom-calendar">
                </p-calendar>
            </div>
            <div class="field">
                <label for="tempoMinimoAssiduidade">Tempo Mínimo de Assiduidade (anos)*:</label>
                <p-inputNumber [(ngModel)]="newConfiguracao.tempoMinimoAssiduidade" inputId="minmax" mode="decimal"
                    [min]="0" [max]="100" />
            </div>

            <div class="field">
                <label for="tempoMinimoTitulo">Tempo Mínimo de Título (anos)*:</label>
                <p-inputNumber [(ngModel)]="newConfiguracao.tempoMinimoTitulo" inputId="minmax" mode="decimal" [min]="0"
                    [max]="100" />
            </div>

            <div class="button-group">
                <button pButton label="Criar" (click)="criarConfiguracao()" class="p-button-success"></button>
                <button pButton label="Cancelar" (click)="displayDialogCriar = false"
                    class="p-button-secondary"></button>
            </div>
        </div>
    </div>
</p-dialog>