.titulo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem; /* Espaçamento opcional abaixo do título e botão */
}

.titulo-escolas {
  margin: 0;
}

.full-width {
  width: 100%;
}

