<p-toast></p-toast>

<div class="servidor-container">
  <h2>Cadastro de Membro da APM</h2>

  <form (ngSubmit)="onSubmit()" #cadastrarMembroAPMForm="ngForm">
    <div class="form-group">
      <label for="nome">Nome *</label>
      <input type="text" [(ngModel)]="newMembroAPM.nome" pInputText id="nome" name="nome" required />
    </div>

    <div class="two-fields-row">
      <div class="form-group">
        <label for="email">Email *</label>
        <input type="email" [(ngModel)]="newMembroAPM.email" pInputText id="email" name="email" required />
      </div>

      <div class="form-group">
        <label for="rg">RG *</label>
        <input pInputText [(ngModel)]="newMembroAPM.rg" id="rg" name="rg" required pattern="^\d{1,11}$" maxlength="11" (keypress)="allowOnlyNumbers($event)"/>
      </div>
    </div>

    <div class="two-fields-row">
      <div class="form-group">
        <label for="cpf">CPF *</label>
        <p-inputMask [(ngModel)]="newMembroAPM.cpf" mask="999.999.999-99" id="cpf" name="cpf" required />
      </div>

      <div class="form-group">
        <label for="dataContratacao">Data de Contratação *</label>
        <p-calendar
          [(ngModel)]="newMembroAPM.dataContratacao"
          id="dataContratacao"
          name="dataContratacao"
          dateFormat="dd/mm/yy"
          [maxDate]="today"
          required
        ></p-calendar>
      </div>
    </div>

    <div class="two-fields-row">
      <div class="form-group">
        <label for="senha">Senha *</label>
        <p-password id="senha" [(ngModel)]="newMembroAPM.senha" name="senha" required></p-password>
      </div>

      <div class="form-group">
        <label for="confirmarSenha">Confirmar Senha *</label>
        <p-password id="confirmarSenha" [(ngModel)]="confirmarSenha" name="confirmarSenha" required></p-password>
      </div>
    </div>


    <div class="two-fields-row">
        <div class="form-group">
            <label for="escolaId">Escolha uma APM *</label>
            <p-dropdown
                id="escolaId"
                [options]="apms"
                [(ngModel)]="newMembroAPM.apmId"
                [optionLabel]="formatDateLabel"
                optionValue="id"
                placeholder="Selecionar APM"
                name="escolaId"
                required
            ></p-dropdown>
        </div>

        <div class="form-group">
            <label for="escolaId">Escolha um Cargo *</label>
            <p-dropdown
                id="escolaId"
                [options]="cargos"
                [(ngModel)]="newMembroAPM.cargoAPMId"
                optionLabel="descricao"
                optionValue="id"
                placeholder="Selecionar Cargo"
                name="escolaId"
                required
            ></p-dropdown>
        </div>

    </div>

    <div class="button-container">
      <button type="submit" [disabled]="isInvalid()" pButton label="Cadastrar" class="p-button-primary"></button>
    </div>
  </form>
</div>

