<div class="tabela-container">
  <h2 class="titulo-tabela">Pesquisa de Preços</h2>
  <h3 class="titulo-subs">Consolidação de proponentes</h3>
  <h5 class="titulo-infos">{{ tituloPesquisa }}</h5>

  <p-toolbar class="footer-toolbar">
    <ng-template pTemplate="left">
      <div class="my-2 toolbar-flex-spacing">
        <button
          pButton
          pRipple
          label="Voltar"
          icon="pi pi-chevron-left"
          class="p-button-info"
          (click)="navigateToPesquisa()"
        ></button>
        <button *ngIf="isAprovarPesquisaPreco()"
          pButton
          pRipple
          label="Aprovar a Pesquisa de Preços"
          icon="pi pi-check"
          class="p-button-success"
          (click)="aprovarPesquisaPreco()"
        ></button>
      </div>
    </ng-template>
  </p-toolbar>
  <p-toast></p-toast>

  <div class="grid">
    <div class="col-12">
      <div class="card">
        <p-table
          #dt
          [value]="listaServicos"
          styleClass="p-datatable-striped"
          responsiveLayout="scroll"
          [rows]="10"
          [paginator]="true"
          [rowsPerPageOptions]="[10, 20, 30]"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Apresentando {first} - {last} do total de {totalRecords} itens"
          [rowHover]="true"
          dataKey="id"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pColumn="descricao">Descrição</th>

              <!-- Proponente A -->
              <th pColumn="proponenteA" class="cabecalhoProponentes">
                Proponente A
                <hr />
                <ng-container *ngIf="proponentesTopo(0) as propA">
                  <!-- Caso exista o proponente -->
                  <div *ngIf="propA.existe" class="proponente-info">
                    <div>{{ propA.nome }}</div>
                    <div>{{ propA.doc }}</div>
                  </div>
                </ng-container>
              </th>

              <!-- Proponente B -->
              <th pColumn="proponenteB" class="cabecalhoProponentes">
                Proponente B
                <hr />
                <ng-container *ngIf="proponentesTopo(1) as propB">
                  <!-- Caso exista o proponente -->
                  <div *ngIf="propB.existe" class="proponente-info">
                    <div>{{ propB.nome }}</div>
                    <div>{{ propB.doc }}</div>
                  </div>
                </ng-container>
              </th>

              <!-- Proponente C -->
              <th pColumn="proponenteC" class="cabecalhoProponentes">
                Proponente C
                <hr />
                <ng-container *ngIf="proponentesTopo(2) as propC">
                  <!-- Caso exista o proponente -->
                  <div *ngIf="propC.existe" class="proponente-info">
                    <div>{{ propC.nome }}</div>
                    <div>{{ propC.doc }}</div>
                  </div>
                </ng-container>
              </th>

              <!-- Nova coluna para menor preço -->
              <th>Melhor Proponente</th>
              <!-- Nova coluna para selecionar proponente -->
              <th>Ações</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-servico let-i="rowIndex">
            <tr>
              <td style="width: 20%; min-width: 10rem">
                {{ servico.descricao }}
              </td>


              <!-- Proponente A -->
              <td style="width: 23%; min-width: 12rem">
                <div *ngIf="proponentesTopo(0).existe">
                  <div style="display: flex; align-items: center">
                    <div>{{ valorProponente(servico, 0).valor | currency: 'BRL' }}</div>
                  </div>
                </div>
              </td>

              <!-- Proponente B -->
              <td style="width: 23%; min-width: 12rem">
                <div *ngIf="proponentesTopo(1).existe">
                  <div style="display: flex; align-items: center">
                    <div>{{ valorProponente(servico, 1).valor | currency: 'BRL' }}</div>
                  </div>
                </div>
              </td>

              <!-- Proponente C -->
              <td style="width: 23%; min-width: 12rem">
                <div *ngIf="proponentesTopo(2).existe">
                  <div style="display: flex; align-items: center">
                    <div>{{ valorProponente(servico, 2).valor | currency: 'BRL' }}</div>
                  </div>
                </div>
              </td>

              <!-- Apresentação do Melhor Proponente e o Valor -->
              <td style="width: 6%; min-width: 12rem">
                <div>{{ servico.melhorFornecedor.razaoSocial }}</div>
                <div>{{ servico.melhorValor | currency: 'BRL' }}</div>
              </td>

              <!-- Ações para cada Servico -->
              <td style="width: 5%; min-width: 10rem">
                <div class="button-group" *ngIf="!servico.aprovado">
                  <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-outlined p-button-rounded p-button-success mr-2"
                    label="Aprovar"
                    pTooltip="Aprovar Proponente"
                    tooltipPosition="top"
                    (click)="aprovarProponente(servico)"
                  ></button>
                  <button
                    pButton
                    pRipple
                    icon="pi pi-pencil"
                    class="p-button-outlined p-button-rounded p-button-help mr-2"
                    label="Alterar"
                    pTooltip="Alterar Proponente"
                    tooltipPosition="top"
                    (click)="alterarProponente(servico)"
                  ></button>
                </div>

                <!-- <p-dropdown
                  [appendTo]="'body'"
                  [options]="proponentesDropdown"
                  optionLabel="proponente"
                  optionValue="value"
                  [(ngModel)]="proponenteSelecionado"
                  (onChange)="onFornecedorChange(servico, i)"
                >
                </p-dropdown> -->
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

  <!-- Dialog para adicionar uma MOVIMENTAÇÃO FINANCEIRA -->
  <p-dialog
    [(header)]="headerAlterarProponente"
    [(visible)]="dialogAlterarProponente"
    [modal]="true"
    [style]="{ width: '750px' }"
    [closable]="false"
    [dismissableMask]="false"
    class="p-fluid centralizar-header"
  >
    <ng-template pTemplate="content" class="mb-1">
      <!-- Campo de escolher um novo proponente -->
      <div class="p-formgrig grid">
        <div class="field col">
          <label>Escolha o proponente</label>
          <p-dropdown
            [appendTo]="'body'"
            [options]="proponentesDropdown"
            optionLabel="proponente"
            optionValue="value"
            [(ngModel)]="proponenteSelecionadoDropdown"
            placeholder="Selecione um Proponente"
            (onChange)="onProponenteChange($event, servico)"
          >
            <div *ngIf="submitted && !proponenteSelecionadoDropdown" class="p-invalid">
              <span>Selecione um Proponente.</span>
            </div>
          </p-dropdown>
        </div>
      </div>

      <!-- justificativa -->
      <div class="p-formgrig grid" *ngIf="isCampoJustificativa">
        <div class="field col">
          <label for="justificativa">Justificativa</label>
          <textarea
                      pInputTextarea
            rows="2"
            maxlength="255"
            id="justificativa"
            required
            placeholder="Informe uma justificativa"
            [(ngModel)]="campoJustificativa"
            [ngClass]="{ 'ng-invalid ng-dirty': submitted && !campoJustificativa }"
          >
          </textarea>
          <div *ngIf="isCampoJustificativa && submitted && !campoJustificativa" class="p-invalid">
            <span>Informe uma justificativa.</span>
          </div>
        </div>
      </div>
    </ng-template>

    <!-- Botões de Ação -->
    <ng-template pTemplate="footer">
      <div class="dialog-footer-button">
        <button
          pButton
          pRipple
          label="Salvar"
          icon="pi pi-check"
          class="p-button-success"
          (click)="submitAlterarProponente(servico)"
        ></button>
        <button
          pButton
          pRipple
          label="Cancelar"
          icon="pi pi-times"
          class="p-button-warning"
          (click)="hideDialog()"
        ></button>
      </div>
    </ng-template>
  </p-dialog>
  <p-confirmDialog></p-confirmDialog>
</div>
